# For MSVC
*.lastcodeanalysissucceeded
*.pdb
*.ilk
*.obj
*.pch
*.log
*.dll
*.rar
*.exe
*.map
*.lib
*.user
*.sdf
*.ncb
*.opensdf
*.suo
*.aps
*.exp
*.qdact
*.json
Debug
Release
windows/*
amultios.dir
/target
.DS_Store
.gitignore
Cargo.lock